body {
  margin: 0;
  position: relative;
}

paper-item {
  cursor: pointer;
}

#themeDialog {
  top: 0 !important;
  margin: 24px calc((100vw - 192px) / 2);
}

#themeFab {
  position: absolute;
  top: 60px;
  right: 5px;
  color: #FFF;
}

t-app-footer img {
  display: none !important;
}

paper-item {
  cursor: pointer;
}

/* mobile is the default mode, extra handling needed for desktop */
@media screen and (min-device-width: 500px) {
  html {
    background-color: #EEE;
  }

  body {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    min-height: 200px;
  }

  /* FIXME: this div should be inside t-list */
  .absolute {
    left: 0;
    right: 0;
  }

  #themeDialog {
    margin: 24px calc((500px - 192px) / 2);
  }
}
