body {
  margin: 0;
  position: relative;
  transform: translate3d(0, 0, 0);
}

paper-item {
  cursor: pointer;
}

#themeFab {
  position: absolute;
  top: 60px;
  right: 5px;
  color: #FFF;
}

t-app-footer img {
  display: none;
}

paper-item {
  cursor: pointer;
}

.t-list-0 .absolute.t-list {
  position: static;
  background: transparent;
  z-index: 0;
}

t-button.t-button-0 {
  display: block;
}

/* mobile is the default mode, extra handling needed for desktop */
@media screen and (min-device-width: 500px) {
  html {
    background-color: #EEE;
  }

  body {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    min-height: 200px;
  }

  t-section-header {
    padding: 10px 10px 0 10px;
    background-color: #E1E1E1;
  }
}
