body {
  margin: 0;
}

/* mobile is the default mode, extra handling needed for desktop */
@media screen and (min-device-width: 500px) {
  html {
    background-color: #EEE;
  }

  body {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    min-height: 200px;
  }

  /* FIXME: the overlay should adjust according to the parent */
  .absolute {
    left: 0;
    right: 0;
  }

  /* FIXME: fullpage loader should have position as absolute */
  .modal.t-fullpage-loader {
    position: absolute !important;
  }
}
