<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<script src="../scripts/base.js"></script>

<dom-module id="theme-switcher">
  <template strip-whitespace>
    <style>
      :host {
        display: block;
      }
    </style>

    <paper-fab id="themeFab"
      mini
      icon="icons:settings"
      title="change theme"
      active="{{fabActive}}"
      toggles>
    </paper-fab>

    <paper-dialog id="themeDialog"
      opened="{{fabActive}}"
      modal
      on-iron-overlay-opened="dialogOpened"
      on-iron-overlay-closed="dialogClosed">

      <h2>Choose Theme</h2>
      <paper-listbox id="themes" selected="{{themeIndex}}">
        <paper-item>Default</paper-item>
        <paper-item>Red</paper-item>
        <paper-item>Purple</paper-item>
      </paper-listbox>
      <div class="buttons">
        <paper-button dialog-confirm>Save</paper-button>
        <paper-button dialog-dismiss>Cancel</paper-button>
      </div>

    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: 'theme-switcher',

      properties: {
        fabActive: {
          type: Boolean,
          value: false
        },

        themeIndex: {
          type: Number,
          value: 0,
          observer: 'switchTheme'
        }
      },

      _count: 0,
      _prevThemeIndex: null,

      attached: function() {
        this.themeIndex = HotelDemo.getItem('theme') || 0;
      },

      switchTheme: function(idx) {
        let themes = [
          `components/theme-default.html?v=${this._count}`,
          `components/theme-red.html?v=${this._count}`,
          `components/theme-purple.html?v=${this._count}`
        ];

        this._count++;
        Polymer.Base.importHref(themes[idx]);
      },

      dialogClosed: function(ev) {
        if (ev.detail.confirmed) {
          HotelDemo.setItem('theme', this.themeIndex);
        } else {
          this.themeIndex = this._prevThemeIndex;
        }
      },

      dialogOpened: function(ev) {
        this._prevThemeIndex = this.themeIndex;
      }
    });
  </script>
</dom-module>
